<div class="container">
        <h3 >Bienvenido {{username}} - Rol: {{admin}}</h3>

        <form method="post" action="/signout">
            <button class="btnSubmit" type="submit">Salir</button>
        </form>
</div>
