
    <div class="wrapper">
        <h1>Centro de mensajes</h1>

        <div id="msgs" id="msgs" class="msgs"></div>
        
        <div class="input">
            <form id="form" >
                <input type="text" name="sendUsu" placeholder="Nombre o email">
                <input type="text" name="sendMsg" id="formMsgInput" placeholder="Mensaje">
                <input type="submit" value="Enviar Mensaje">
            </form>
        </div>
        <p id="error"></p>
    </div>
